@use 'variaveis';

.header {
    position: sticky;
    background-color: variaveis.$corDeFundoHeader;
    top: 0;
    left: 0;
    height: 56px;
    z-index: 1;
    padding: 16px 3%;

    @media (max-width: 599px) {
        background-color: rgba(0, 0, 0, .75);
        }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 24px;
    }

    &__logo {
        width: 110px;
        padding-top: 0;

        @media (max-width: 599px) {
        display: none;
        }
    }

    &__logo2 {
        display: none;
        width: 24px;
        height: 40px;
        margin-right: 16px;

        @media (max-width: 599px) {
            display: block;
            }
    }

    &__links {
        display: flex;
        list-style: none;
    }
}